<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me Page</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <h1>This is my about me page!</h1>

    <h2>Here are some of my hobbies:</h2>

    <p>I am an <strong>avid</strong> sports fan <em>and</em> player. Growing up, I played soccer and basketball.</p>

    <p class = "personal-class">My favorite players:</p>
    <!-- This is an ordered list of my favorite players. It should go from 1-3. -->
    <ol>
        <li>Lionel Messi</li>
        <li>Lebron James</li>
        <li>Brian Scalibrine</li>
    </ol>

    <h2>Here is some information about my family: </h2>

    <p>I am a part of a family of 6. I have 3 brothers -- one older and <strong>two</strong> younger. I also have <em>two</em> dogs.</p>
    <p>My brother's names:</p>
    <ul>
        <li>William</li>
        <li>Zachary</li>
        <li>Johnathan</li>
    </ul>
    <p id="special-text">My two dogs are named Otto and Pablo. They are good boys.</p>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring '21</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Spring '22</td>
        </tr>
        <tr>
            <td>BMGT441</td>
            <td>Spring '23</td>
        </tr>
    </table>

    <p>A link to the <a href="/hello">original page</a>.</p>

    <h3>Some of my favorite websites:</h3>
    <!-- This is a practice creating a hyperlink that will open in a new browser tab -->
    <p>A link to play octordle and <a href="https://www.britannica.com/games/octordle/daily" target="_blank">forcing a new browser to open</a>.</p>

    <p>A link to play tetris <a href="https://tetris.com/play-tetris">here</a>.</p>

    <p>Here is the Smith School logo:</p>
    <!-- This is practice inputting my first image of the Smith School of Business Logo -->
    <img class = "logo" src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Smith Logo">

</body>
</html>