<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Purchase Date</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">100A</th>
                <td>2001</td>
                <td>Red Sweatshirt</td>
                <td>11/10/23</td>
                <td>2</td>
                <td>$99.98</td>
            </tr>
            <tr>
                <th scope="row">200A</th>
                <td>3001</td>
                <td>UMD Backpack</td>
                <td>11/20/23</td>
                <td>1</td>
                <td>$45.30</td>
            </tr>
            <tr>
                <th scope="row">100A</th>
                <td>2001</td>
                <td>Red Sweatshirt</td>
                <td>12/24/23</td>
                <td>1</td>
                <td>$99.98</td>
            </tr>
        </tbody>
    </table>


  </body>
</html>